@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  --primary-color: #f0abfc;
  --secondary-color: #a21caf;
  --error-color: #dc2626;
}

body {
  font-family: 'Inconsolata', monospace;
  margin: 0rem;
}

.nav-bar {

  width: 100%;
  height: 10rem;
  background-color: var(--primary-color);
  border-bottom-left-radius: 1rem;
}

.nav-pills {
  list-style: none;
  text-align: right;
}

.nav-pill-items {
  font-size: 1.4rem;
  display: inline;
  font-weight: bold;
  padding: 0rem 1.5rem 1.5rem 0rem;
}

.link {
  padding: 0rem 1rem 1rem 0rem;
  color: var(--secondary-color);
  text-decoration: none;
}

.nav-heading {
  font-size: 1.5rem;
  padding: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.container {
  margin: auto;
  width: 80%;
  border: 2px solid var(--secondary-color);
  border-radius: 1.8rem;
  height: 38rem;
  background-color: var(--primary-color);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

h1 {
  padding-top: 2rem;
  color: var(--secondary-color);
  font-size: 2.5rem;
  margin: auto
}

label {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}

input {
  font-size: 1.2rem;
  width: 60%;
  margin: auto;
  padding: 14px 22px;
  color: var(--secondary-color);
  border: 1.5px solid var(--secondary-color);
  border-radius: 0.8rem;
}

input:focus {
  outline: 2px solid var(--secondary-color)
}

.btn {
  margin: auto;
  padding-top: 2rem;
}

.check {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 2rem;
}

.check:hover {
  background-color: whitesmoke;
}

.clear {
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: whitesmoke;
  padding: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 2rem;
}

.error {
  font-style: italic;
  text-align: center;
  padding: 1rem;
  color: var(--error-color);
}

.output {
  text-align: center;
  margin-top: 9rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0rem;
}

.footer {
  margin-top: 22rem;
  margin-right: 3rem;
  width: 100%;
  height: 11rem;
  background-color: var(--primary-color);
  border-top-right-radius: 1rem;
}

.footer-header {
  text-align: center;
  padding: 1.5rem 0rem 0rem;
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.footer-pills {
  list-style: none;
  text-align: center;
}

.footer-items {
  display: inline;
  padding: 0rem 2.6rem 0rem 0rem;
}

.privacy {
  text-align: center;
  color: var(--secondary-color);
}

.name {
  color: var(--secondary-color);
}